* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100%;

    #content {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: "100px 300px";

        .projSection {
            background-color: greenyellow;
            grid-column: 1 / 2;
            .newProjBtn {
                height: 50px;
                width: 100%;
                border: none;
                cursor: pointer;
            }
        }
        .todoSection {
            background-color: blue;
            grid-column: 2 / 6;
            .newTdBtn {
                border: 1px solid white;
            }
        }
    }
    
}